<% if user_signed_in? %>
	#show them something
	
<% else %> 
	<div class="center hero-unit">
		<h1>Welcome to My First Rails App</h1><br/>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		
	</div>
<% end %>
